
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'calibri', Courier, monospace;

    transition: all 0.4s ease;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6f97c6;
}

.calender{
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3) ;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.month{
    text-align: center;
    font-weight: 600;
    width: 150px;
}

.header button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2) ;
}
.days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}
.day{
    text-align: center;
    padding: 5px;
    color: #6f97c6;
    font-weight: 600;
}

.dates{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.date:hover,
.date.active{
    background-color: salmon;
}

.date.inactive{
    color: aliceblue;
}

.date.inactive:hover{
    color: #fff;
}