@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --color-primary:#fd3232;
    --color-primary-variant:rgba(207, 207, 207, 0.1);
    --color-black:#0f0f0f;
    --color-on-black:#000000;
    --color-black-variant:rgb(197, 197, 197);
    --color-white:#ffffff;
    --color-light:#ebebebc7;
    --color-dark: #b1b1b1;
    --color-check:#4BB543;

    --transition: 0.3s ease-in-out ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: var(--transition);
}



body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#container {
    display: flex;
    background-color: var(--color-white);
    border-radius: 30px;
    overflow: hidden;
    justify-content: center;
    /* align-items: center; */
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
    position: relative;
    width: 768px;
    max-width: 100%;
    min-height: 520px;
}


#menu {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    width: 30%;
    height: 520px;
    text-align: left;
    color: var(--color-white);
    padding: 20px 12px;
    border-radius: 0 60px 60px 0;
    align-items: center;
    justify-content: center;

    .actual{
        text-decoration: underline;
    }
}

#menu span{
    display: flex;
    align-items: center;
}


#menu .circle{
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: var(--color-white);
    color: var(--color-primary);
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu .circle-check{
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: var(--color-check);
    color: var(--color-white);
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu ul li{
    display: flex;
    margin-top: 20px;
    text-decoration: none;
    list-style: none;
    width: 100%;
    color: var(--color-white);
    margin: 10px 0;
    padding: 10px;
    font-size: 17px;
    font-weight: 550;
    transition: var(--transition);
}

#menu .link-bottom{
    margin-top: auto;
    padding: 12px;
    color: var(--color-white);

    a, h5{
        color: var(--color-white);
    }
}

#menu .link-bottom a{
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition);

    color: var(--color-white);
}

#menu .link-bottom a:hover{
    color: var(--color-dark);
    margin-left: 10px;
}



#formulario .icon-check{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#formulario .icon-check i{
    display: flex;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-check);
    border-radius: 50%;
    color: var(--color-check);
    padding: 20px;
    font-size: 2rem;
    width: 60px;
    height: 60px;
}

#formulario .circle{
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#formulario .circle-check{
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: var(--color-check);
    color: var(--color-white);
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#formulario {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    padding: 16px;
    height: 100%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 40px;
    font-size: 25px;
}

#formulario .data {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    justify-content: center;

    input{
        font-size: 18px;
    }
}

#formulario .data-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--color-dark);
    padding: 35px 10px;
    border-radius: 10px;
    font-size: 20px;
}

#formulario .data-item input {
    padding: 12px;
    border-radius: 8px;
    outline: none;
    padding: 10px;
    border: none;
    background:transparent ;
    font-weight: 500;
}


#formulario .btn {
    display: flex;
    justify-content: space-between;
    padding: 20px  12px;
    margin-top: 0%;
    width: 100%;
    height: auto;
}

#formulario .btn a {
    text-decoration: none;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 8px;
}

#formulario .btn .btn-1 {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    font-weight: 600;
    transition: var(--transition);
    cursor: pointer;
}
#formulario .btn .btn-1:hover {
    background:var(--color-white);
    color: var(--color-dark);
    border: 1px solid var(--color-primary);
}

#formulario .btn .btn-2 {
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
    color: var(--color-white);
    transition: var(--transition);
    font-weight: 600;
}
#formulario .btn .btn-2:hover {
    background: var(--color-primary-variant);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    font-weight: 600;
}

/* HORARIO */

.data{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 30px;
        width: 100%;
        height: 300px;

        .container{
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;

            .fila{
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                gap: 10px;
            }

            label{
                background: var(--color-light);
                border-radius: 8px;
                color: var(--color-black);
                font-weight: 550;
                width: 100%;
                padding: 10px 40px;
                transition: var(--transition);
            }
            label:hover{
                background: var(--color-primary);
                color: var(--color-white);
                cursor: pointer;
            }
        }
    }


@media (max-width: 700px) {

    #container {
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 20px;
        backdrop-filter: blur(3px);
    }

    #menu {
        display: flex;
        width: 100%;
        height: auto;
    }
    #menu  ul li span{
        display: none;
    }
    #menu  ul{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20%;
        margin-right: 20%;
    }
    #menu  .link-bottom{
        display: none;
    }
    #formulario {
    width: 100%;
    padding: 20px;
}
    #formulario .links-servilos a {
        padding: 16px 12px;
        font-size: 16px;
    }
    #formulario .data {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    padding: 20px;
}


#formulario .btn-concluido a {
    margin-top:10px;
}

#formulario .data-item, #formulario .hora-item {
    width: 100%;
}
#formulario .input-box .colunas {
    flex-direction: column;
}
#formulario .input-group {
    display: flex;
    flex-direction: column;
}
#formulario .btn, #formulario .btn a, #formulario .btn-concluido, #formulario .btn-concluido a {
    width: 100%;
    justify-content: center;
    text-align: center;
    gap: 10%;
}
#formulario .icon-check i{
    margin-top: 0;
}
#formulario aside {

    margin-right: 0;
    margin-left: 0;
}
}