/* @import url('https://fonts.googleapis.com.css2?family=Nontserrat:wght300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap'); */

:root{
    --color-primary:#fd3232;
    --color-primary-variant:#b80000;
    --color-black:#0f0f0f;
    --color-on-black:#000000;
    --color-black-variant:rgb(197, 197, 197);
    --color-white:#ffffff;
    --color-light:#d6d6d6;
    --color-dark: #b1b1b1;

    --transition: 0.3s ease ;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
}


body{
    background-color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

}

 .logo img {
    width:150px;
    margin: 20px;
}
.container{
    background: var(--color-white);
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 520px;
}

.container p{
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}
.container span{
    font-size: 16px;
}

.container a{
    color: var(--color-black);
    font-size: 16px;
    text-decoration: none;
    margin: 15px 0 10px;
    font-weight: 550;
}

.container a:hover{
    color: var(--color-primary);
    text-decoration: underline;
}

.container button{
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 12px;
    width: 100%;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.4s ease;
}
.container button:hover{
    color: var(--color-white);
    background: var(--color-primary-variant);
    border: 1px solid var(--color-primary);
    font-weight: 600;
}
.container .toogBtn{
    background-color: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 550;
    text-decoration: none;
}
.container .toogBtn:hover{
    background-color: var(--color-white);
    color: var(--color-primary);
    transition: 0.4s ease;
    text-decoration: none;
    font-weight: 550;
}

.lembrar-senha{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.lembrar-senha label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lembrar-senha label input{
    accent-color : var(--color-black);
    margin-left: -20px;
}

.lembrar-senha a{
    color: var(--color-black);
    text-decoration: none;
    font-weight: 700;
    transition: 0.2s ease;
}
.lembrar-senha a:hover{
    text-decoration: underline;
    color: var(--color-primary);
}

.container form{
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px 0 20px;
    height: 100%;
}

.container input{
    background-color: var(--color-light);
    border: none;
    margin: 14px 0;
    padding: 14px 15px;
    font-size: 16px;
    border-radius: 15px;
    width: 100%;
    outline: none;
    gap: 14px;
}


.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    margin: 0 10px;
}

.registrar{
    left: 0;
    width: 50%;
    opacity: 1;
}

.toogle-panel{
    background-color: var(--color-primary);
    color: var(--color-white);
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    right: 0;
    transition: all 0.5s ease-in-out;
}

.toogle-panel{
    border-radius: 140px 0 0 140px ;
}


@media(max-width: 769px) {
   
    .toogle-panel h1{
        display: none;
    }

.container {
    min-height: 100%;
    border-radius: 0;
    }


.form-container {
    margin: 10px;
    width: 100%;
    height: 70%;
    margin-top:calc(100% - 60%);
    gap: 5px;        
}

.toogle-panel {
    width: 100%;
    height: 30%;
    border-radius: 0 0 90px 90px;
    border-radius: none;
}

.container button {
    font-size: 12px;
    height: 50px;
    font-weight: 600;
    letter-spacing: 0;
    margin: 0;
}
.conta{
    display: none;
}
.logo img {
    width: calc(100% - 70%);
}
}