*{
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 450px;
    min-height: 350px;
    padding: 0 10%;
}

.container .top {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(202, 200, 200);
    gap: 20px;
    padding: 10vw;
}

.container .top img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.container .top .nome{
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}
.container .top input{
    font-size: 12px;
}
.container .top .nome h3{
    font-size: 16px;
}
.container .top button{
    font-size: 12px;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background: red;
    color: white;
    border: 2px solid red;
}

.container .top button:hover{
    background-color: rgb(202, 200, 200);
    border: 2px solid red;
    color: red;
}


.corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    padding: 30px;
    bottom: 0;
}

.corpo .corpo-top{
    font-size: 18px;
    color: black;
    /* color: rgb(202, 200, 200, 120); */
}

.corpo .formulario form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.corpo .formulario form .top-input{
    width: 100%;
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: space-between;
}

.corpo .formulario form .top-input input{
    width: 100%;
    padding: 7px 13px;
    gap: 10px;
    border-radius: 10px;
    border: none;
    background: #eee;
}