*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .data{
        display: flex;
        flex-direction: column;
        padding: 50px;
        width: 630px;
        height: 400px;
        background: rgb(168, 146, 146);
        align-items: center;
        justify-content: center;
        border-radius: 30px;

        .container{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;

            .fila{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                margin-bottom: 10px;
            }

            label{
                background: white;
                border-radius: 8px;
                width: 100%;
                padding: 10px 40px;
            }
        }
    }

    
}