@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --color-primary:#fd3232;
    --color-primary-variant:rgba(207, 207, 207, 0.1);
    --color-black:#0f0f0f;
    --color-on-black:#000000;
    --color-black-variant:rgb(197, 197, 197);
    --color-white:#ffff;
    --color-light:#d6d6d6;
    --color-dark:#888888;

    --transition: 0.4s ease ;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.4s;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:var(--color-black-variant) ;
    background-size: cover;
    background-position: center;
}
.container{
    position: relative;
    width: 420px;
    padding: 30px 40px;
    background-color:transparent;
    border-radius: 20px;
    box-shadow: 0 4px 8px  var(--color-dark) ;
    color: var(--color-black);
    backdrop-filter: blur(10px);
}
.body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body .logo img {
    width:70px;
    margin-bottom: 20px;
}

.container h1{
    text-align: center;
    font-size: 36px;
    color: var(--color-primary);
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    }
.input-box input{
   width: 100%;
   height: 100%;
   background-color: transparent;
   border: 1px solid var(--color-black);
   outline: none;
   font-size: 16px;
   color: var(--color-black);
   padding: 20px 45px 20px 20px;
   border-radius: 100px;
}
.input-box input::placeholder{
   color: var(--color-black);
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 25%;
    font-size: 25px;
}

.lembrar-senha{
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}
.lembrar-senha label input{
    accent-color : var(--color-black);
    margin-right: 5px;
}
.lembrar-senha a{
    color: var(--color-black);
    text-decoration: none;
    font-weight: 700;
    transition: 0.2s ease;
}
.lembrar-senha a:hover{
    text-decoration: underline;
    color: var(--color-primary);
}
.btn-login{
    width: 100%;
    height: 50px;
    background: var(--color-primary);
    border: none;
    outline: none;
    border-radius: 100px;
    color: var(--color-white);
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 550;
    transition: 0.2s ease;
}
.btn-login:hover{
    background: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    font-weight: 550;
}
.registrar{
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    gap: 10px;
    display: flex;
    justify-content: center;
}
.registrar a{
    text-decoration: none;
    color: var(--color-black);
    font-weight: 700;
    transition: 0.2s ease;
}
.registrar a:hover{
    text-decoration:underline;
   color: var(--color-primary);
}