@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --color-primary:#fd3232;
    --color-primary-variant:rgba(207, 207, 207, 0.);
    --color-black:#0f0f0f;
    --color-on-black:#000000;
    --color-black-variant:rgb(197, 197, 197);
    --color-white:#ffffff;
    --color-light:#d6d6d6;
    --color-dark: #b1b1b1;

    --transition: 0.3s ease ;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
}



.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-dark);
}

.body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body .logo img {
    width:70px;
    margin-bottom: 20px;
}


.container{
    position: relative;
    width: 420px;
    padding: 30px 40px;
    background-color:transparent;
    border-radius: 20px;
    color: var(--color-black);
    backdrop-filter: blur(10px);
    width: 620px;
    box-shadow:0 10px 15px -3px rgba(0, 0, 0, 0.9);
}

.nomes {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.container h1 {
    text-align: center;
    font-size: 36px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
   width: 100%;
   height: 100%;
   background-color: transparent;
   box-shadow:0 10px 15px -3px rgba(0, 0, 0, 0.8);
   outline: none;
   border: none;
   font-size: 16px;
   color: var(--color-black);
   padding: 20px 45px 20px 20px;
   border-radius: 100px;
}

.input-box input::placeholder{
   color: var(--color-black);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 25%;
    font-size: 25px;
}

.lembrar-senha {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}

.lembrar-senha label input{
    accent-color: white;
    margin-right: 5px;
}

.lembrar-senha a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.lembrar-senha a:hover {
    text-decoration: underline;
}

.btn-login {
    width: 100%;
    height: 50px;
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 100px;
    color: var(--color-primary);
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 550;
}

.btn-login:hover {
    background: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

.registrar {
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
}

.registrar a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.registrar a:hover {
    text-decoration:underline
}