@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --color-primary:#fd3232;
    --color-primary-variant:rgba(207, 207, 207, 0.1);
    --color-black:#0f0f0f;
    --color-on-black:#000000;
    --color-black-variant:rgb(197, 197, 197);
    --color-white:#ffff;
    --color-light:#d6d6d6;

    --transition: 0.4s ease ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.4s;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(IMG/satoto.jpeg);
    background-size: cover;
    background-position: center;
}
.container{
    position: relative;
    width: 720px;
    height: 440px;
    background-color:transparent;
    border-radius: 20px;
    box-shadow: 0 15px 25px 25px rgb(149, 56, 202); 
    color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
}
.container h2{
    text-align: center;
    font-size: 36px;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
}

.input-box input{
   width: 100%;
   height: 100%;
   background-color: transparent;
   border: 1px solid rgb(233, 229, 229);
   outline: none;
   font-size: 16px;
   color: white;
   padding: 20px 45px 20px 20px;
   border-radius: 100px;
}
.input-box input::placeholder{
   color: rgb(233, 229, 229);
}

.btn-login{
    width: 100%;
    height: 50px;
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 100px;
    color: blueviolet;
    font-size: 18px;
    cursor: pointer;
}

.btn-login:hover{
    background: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}